
/*************************/
/* 메인 페이지 기본
/************************/
.container {
    padding: 0 20px;
    position: relative;
    margin: 0 auto;
}



#main-contents {
    min-width: 1000px;
    min-height: 800px;
    display: block;
    position: relative;
    clear: both;
}
 
.main-contents {
    min-height: 800px;
}

 @media(min-width:1200px) {
    .container {
    min-width: 1200px;
    } 
}

.container .stay-list {
    display: block;
    box-sizing: border-box;
}
 
.swiper-container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    width: 100%;
    background: #fefefe;
}
 
.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0;
}
 
.swiper-slide .title {
    font-family: 'NotoSerifKR';
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: #000;
}
 
.swiper-slide .subtitle {
    margin-top: 12px;
    word-break: keep-all;
    font-size: 14px;
    color: #000;
}

.swiper-slide .other{
    margin-top: 12px;
    color: #000;
}
 
.swiper-slide .more {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}
 
.swiper-slide .img {
    background-size: auto;
    background-position: 50%;
}

.swiper-slide li {
    list-style: none ;
}
 
.stay-list {
    position: relative;
    margin: 0 0 -60px 30px;
}
 
.stay-list .stay-box {
    position: relative;
    padding: 0 0 60px 30px;
    text-align: center;
}

.stay-list .stay-box .img{
    width: 400px;
    height: 250px;
}
 
.stay-list .stay-box .more {
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 2px;
    display: inline-block;
    font-family: 'NotoSerifKR';
    border-bottom: 1px solid #800000;
}
 
.stay-list .stay-box .text {
    font-size: 15px;
    line-height: 20px;
    height: 40px;
    white-space: normal;
    margin-top: 15px;
    color: #181818;
    overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    text-overflow: ellipsis;
}

.stay-list .stay-box .name{
    margin-top: 30px;
    font-size: 22px;
    color: #000;
    font-weight: 400;
    font-family: 'NotoSerifKR';
}



.sec-title {
    font-size: 12px;
    color: #000;
    letter-spacing: 10px;
    font-weight: 500;
    font-family: 'NotoSerifKR';
 
}
 
.e_date {
    position: absolute;
    top: 0;
    right: 0px;
    width: 100px;
    height: 80px;
    display: flex;
    font-size: 17px;
    font-family: 'NotoSerifKR';
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #800000;
 
}

.more {
    font-size: 12px;
    color: #800000;
    line-height: 30px;
    letter-spacing: 2px;
    display: inline-block;
    font-family: 'NotoSerifKR';
}




 /*************************/
/* 메인 페이지 비주얼
/************************/

.main-visual {
    margin: 0 auto;
    width: 100%;
    height: 800px;
    overflow: hidden;

}
.main-visual .fa-chevron-left {
   position: absolute;
   font-family: 'FontAwesome';
   font-size: 50px;
   font-weight: 900;
   color: #fefefe;
   top: 50%;
   left: 72px;
   z-index: 2;
   cursor: pointer;
   opacity: 0.4;

}

.main-visual a.img {
    display: block;
    width: 100%;
    height: 800px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


.main-visual .fa-chevron-right {
   position: absolute;
   font-family: 'FontAwesome';
   font-size: 50px;
   font-weight: 900;
   color: #fefefe;
   top: 50%;
   margin-top: -25px;
   right: 72px;
   width: 20px;
   height: 100px;
   bottom: 0;
   z-index: 2;
   cursor: pointer;
   opacity: 0.4;
}

.main-visual i.fa:hover {
    transition: 0.7s;
    opacity: 1;
}

.main-visual ul .swiper-slide {
   position: relative;
   width: 100%;
}

.main-visual ul .swiper-slide a{
    display: block;
    width: 100%;
    height: 750px;
    background-size: cover;
    background-position: center center;
}

.main-visual .stay-info {
    width: 300px;
    height: 250px;
    position: absolute;
    text-align: center;
    background-color: #fefefe;
    opacity: 75%;
    top: 25%;
    margin-left: 40%;
    padding: 60px 0;
    /* box-shadow: 3px 3px 3px #808080; */
 }

.main-visual .stay-info .title {
   padding-top: 20px;
   font-size: 22px; 
   font-weight: bold;
   color: #000;
   letter-spacing: 3px;
}

.main-visual .stay-info .subtitle {
   font-size: 15px;
   color: #800000;
   font-weight: 500;
   font-family: 'NotoSerifKR';
   letter-spacing: 4.5px;
   margin: 30px 60px 30px 60px;
   word-break: keep-all;
   word-wrap: break-word;
   white-space: pre-line;
}


 /*************************/
/* 메인 페이지 신규
/************************/


.main-new { 
    margin: 100px auto 0;
    padding: 20px;
}

.new-container{
    margin: 0;
    height: 600px;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
}

.main-new .stay-list .swiper-wrapper {
    box-sizing: content-box;
    padding-right: 20px;
}

.main-new .stay-list .swiper-slide {
    width: 440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: top;
    -ms-flex-align: top;
    -webkit-align-items: top;
    align-items: top;

}

.main-new .stay-list .swiper-slide:hover{
    transform: scale(1.05); 
    transition: 0.4s;
}

.main-new .sec-title {
    letter-spacing: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'NotoSerifKR';
    font-size: 16px;
}
 

.main-new .stay-list .stay-box img {
    background-position: center center;
    width: 400px;
    height: 320px;
    padding: 20px;
    display: block;
    object-fit: cover;
}

.main-new .stay-box .subtitle, .other {
    font-family: 'NotoSerifKR';
    letter-spacing: 1px;
}


/*************************/
/* 메인 페이지 - 배너 창  
/*************************/

.main-banner {
    position: relative;
    background-size: cover;
}
 
 .main-banner .banner-wrap {
    background-image: url(https://images.prismic.io/stayfolio-production/d6557eda-5f8b-4a2b-b466-e11031375b43_3.jpg?auto=compress,format&rect=0,0,1800,850&w=1800&h=850);
    background-position: center center;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    text-align: center;
    filter: brightness(65%);
}

.banner-wrap:hover {
    filter: brightness(100%);
    transition: 0.3s;
}

 .banner-wrap span {
    letter-spacing: 12px;
    font-size: 24px;
    color: #fefefe;
    font-family: 'NotoSerifKR';
}



/*************************/
/* 메인 페이지 - 프로모션 
/*************************/

.main-promo {
    margin-top: 110px 0;
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    padding: 120px 0;
}

.main-promo .container {
    max-width: 1330px;
    height: auto;
    overflow: hidden;
    padding: 0 20px;
}

.main-promo .container .sec-title {
    font-size: 12px;
    position: absolute;
    letter-spacing: 10px;
    top: 35%;
    margin: auto 0;
    left: 20px;
    z-index: 2;
}
.main-promo .swiper-container {
    display: block;
    width: 100%;
    height: 100%;
}

.main-promo .swiper-wrapper {
    position: relative;
    margin: 0 auto;
}
 
.main-promo .swiper-slide {
    width: 1290px;
    height: 540px;
    background-color: #f5f5f5;
}

.main-promo .swiper-slide .promo-title {
    position: absolute;
    top: 50%;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'NotoSerifKR';
    float: left;
}

.main-promo .promo-container .small, .text {
    -webkit-margin-collapse: t;
    font-size: 16px;
    color: #000;
    font-family: 'NotoSerifKR';
}

.main-promo .promo-container .swiper-wrapper img {
    float: right;
    width: 940px;
    height: 540px;
    display: block;
    object-fit: cover;
}


.main-promo .promo-container .fa-chevron-left {
    display: absolute;
    position: relative;
    bottom: 20px;
    left: 40px;
    width: 10px;
    height: 20px;
    z-index: 2;
    padding-right: 40px;
}

.main-promo .promo-container .fa-chevron-left:hover{
    color: #800000;
    opacity: 0.5;
    transition: 0.3s;
}
 
.main-promo .promo-container .fa-chevron-right {
    display: absolute;
    position: relative;
    bottom: 20px;
    left: 60px;
    width: 10px;
    height: 20px;
    z-index: 2;
}

.main-promo .promo-container .fa-chevron-right:hover{
    color: #800000;
    opacity: 0.5;
    transition: 0.3s;
}


/*************************/
/* 메인 페이지 - 이벤트 
/*************************/

.main-event {
    margin-top: 110px;
    position: relative;
    height: 100%;
    background-color: #fefefe;
    padding: 38px;
}

.main-event .event-container {
    margin: 0;
    height: 410px;
    display: flex;
    box-sizing: border-box;
}
 
.main-event .sec-title {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 0 0 50px;
    letter-spacing: 10px;
    z-index: 2;
}
  
.main-event .swiper-wrapper {
    margin-left: -10px;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
}

.main-event .swiper-slide {
    position: relative;
    padding: 0 0 70px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 440px;
  
}

.main-event .swiper-slide:hover{
    transform: scale(0.97); 
    transition: 0.4s;
}
  
.main-event .swiper-slide img {
    width: 410px;
    height: 250px;
    display: block;
    object-fit: cover;
}

.main-event .other, .text {
    font-family: 'NotoSerifKR';
}
.main-event .stay-info .more {
    margin-top: 20px;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 2px;
    border-bottom: 1px solid #800000;
 
}

.main-event .e_date {
    position: absolute;
    right: 18px;
}

/*************************/
/* 메인 페이지 - 매거진
/*************************/

.main-magazine {
    margin-top: 110px;
    width: 100%;
}
 
.main-magazine ul {
    font-size: 0;
}

.main-magazine .swiper-slide {
    width: 100%;
}

.main-magazine ul img {
    height: 650px;
    width: 100%;
}

.main-magazine .stay-info {
    width: 480px;
    height: 240px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    background-color: #fefefe;
    font-family: 'NotoSerifKR';
    top: 40%;
    margin-left: 35%;
    padding: 60px 0;
}


.main-magazine .stay-info img {
    position: absolute;
    height: 60px;
    width: 175px;
    margin-bottom: auto;
    margin-right: 30px;
    object-fit: contain;
    background-position: center center;
}
 

.main-magazine .stay-info h3{
    position: absolute;
    right: 60px;
    font-size: 20px;
    font-family: 'Abril Fatface', cursive;
    text-align: right;
    color: #800000;
    letter-spacing: 3px;
}

.main-magazine .stay-info .text {
    position: absolute;
    bottom: 30px;
    right : 55px;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}
 
.main-magazine .stay-info .magazine { 
    position: absolute;
    top: 35px;
    left: 30px;
    font-size: 13px;
    color: #181818;
    letter-spacing: 5px;
 
}
 
.main-magazine .stay-info .more {
    position: absolute;
    left: 35px;
    bottom: 30px;
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid #000;
}
 
.main-magazine .fa-chevron-left {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 50px;
    font-weight: 900;
    color: #fefefe;
    top: 50%;
    left: 72px;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
 
}
 
 
.main-magazine .fa-chevron-right {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 50px;
    font-weight: 900;
    color: #fefefe;
    top: 50%;
    margin-top: -25px;
    right: 72px;
    width: 20px;
    height: 100px;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
}

.main-magazine .fa:hover {
    transition: 0.7s;
    opacity: 1;
}


/*************************/
/* 메인 페이지 - 트래블
/*************************/

.main-travel {
    margin-top: 110px;
    position: relative;
    height: 100%;
    padding: 20px;
}
 
.main-travel .sec-title {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 0 0 60px;
    letter-spacing: 10px;
    z-index: 2;
}

.main-travel .stay-list {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.main-travel .stay-list .stay-box {
    display: inline-block;
    width: 33%;
    padding: 0;
    text-align: left;
    padding: 0 30px 80px 0;
    cursor: pointer;
}


.main-travel .stay-list .stay-box .img {
    width: 380px;
    height: 380px;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    margin: auto;
    display: block;
}

.main-travel .stay-list .stay-box a {
    filter: brightness(.7);
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}

.main-travel .stay-list .stay-box a:hover {
    filter: brightness(1);
}

.main-travel .stay-list .stay-box .text {
    left: 30px;
    font-family: 'NotoSerifKR';
    word-break: keep-all;
    letter-spacing: 1.5;
    margin-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
    height: 60px;
}
 
.main-travel .stay-list .stay-box .other {
    letter-spacing: 1.5;
    font-size: 14px;
    color: #181818;
    height: 40px;
    line-height: 1.5;
}

.main-travel .more {
    margin-top: 0;
    font-size: 12px;
    color: #800000;
    display: inline-block;
}




/*************************/
/* 메인 페이지 - 추천 창 ㅇㅅㅇ
/*************************/


.main-Tagthumb {
    position: relative;
    margin-top: 110px;
    width: 100%;
    padding: 150px 0;
    background-color: #f5f5f5;
}

.main-Tagthumb .container {
    width: 1290px;
    margin: 0 auto;
}

.main-Tagthumb .subject {
    font-family: 'NotoSerifKR';
    position: relative;
    margin-bottom: 20px;
    font-size: 20px;
    color: #000;
    left: -10px;
}

.main-Tagthumb .thumblist {
    position: relative;
    height: 0;
    padding: 0 0 630px;

}

.main-Tagthumb .thumblist .thumbbox {
    position: absolute;
    width: 23.5%;
    height: 0;
    padding: 0 23.5% 23.5% 0;
    object-fit: contain;

}

.main-Tagthumb .thumb-0 {
    top: 0;
    left: -35px;
    padding-bottom: 50%;
}

.main-Tagthumb .tag-1 {
    bottom: 0px;
    right: 0;
}

.main-Tagthumb .thumb-1 {
    top: 0;
    right: 26.5%;
}

.main-Tagthumb .thumb-2 {
    top: 0;
    right: 0;
}
.main-Tagthumb .thumb-3 { 
    bottom: 5px;
    right: 26.5%;
}

.main-Tagthumb .thumb-4 {
    bottom: 5px;
    right: 0;
}

.main-Tagthumb .thumblist .thumb-0 img {
    width: 630px;
    height: 630px;
}

.main-Tagthumb .thumb-1 img, 
.thumb-2 img, .thumb-3 img, .thumb-4 img { 
    width: 300px;
    height: 300px;
}

.main-Tagthumb .thumb1 .tag,
.main-Tagthumb .thumb2 .tag {
    top: -20px;
    right: 0;
}

.main-Tagthumb .container .thumblist span {
    position: absolute;
    margin-top: auto;
    color: #000;
    display: inline-block;
    word-spacing: 5px;
    font-size: 16px;
    font-family: 'NotoSerifKR';
}

.main-Tagthumb .thumblist .thumbbox img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}


 /*************************/
/* 메인 페이지 홍보
/************************/


.main-recom { 
    margin: 100px auto 0;
    padding: 20px;
}

.recom-container{
    margin: 0;
    height: 600px;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
}

.main-recom .stay-list .swiper-wrapper {
    box-sizing: content-box;
    padding-right: 20px;
}

.main-recom .stay-list .swiper-slide {
    width: 440px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: top;
    -ms-flex-align: top;
    -webkit-align-items: top;
    align-items: top;
}

.main-recom .stay-list .swiper-slide:hover{
    transform: scale(1.05); 
    transition: 0.4s;
}

.main-recom .sec-title {
    letter-spacing: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'NotoSerifKR';
    font-size: 16px;
}

.main-recom .title2 {
    top: 10px;
    font-size: 20px;
}

.main-recom .stay-list .stay-box img {
    width: 400px;
    height: 250px;
    padding: 20px;
    display: block;
    object-fit: cover;
}

