@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/*************************/
/* Variable
/*************************/
:root {
    --xpadding: 50px;
    --xpadding2: 25px;
    --xpadding3: 10px;
    --color: #cd5c5c;
}




/*************************/
/* tag reset
/*************************/
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
html.noscroll {
    overflow: hidden !important;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: #fff;
    -webkit-backface-visibility: hidden;
}
body,
code,
pre {
    font-size: 14px;
    font-family: 'Noto Sans KR'; 
    color: #333;
    margin: 0;
    padding: 0;
    letter-spacing: -0.5px;
}
ul,
ol,
dl,
p,
span
     {
    margin: 0;
    padding: 0;
    border: 0 none;
}

div {
    display: block;
}
button {
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
}

li {
    font-family: 'Noto Sans KR';    
    list-style: none;
    color: #333;
}

select,
option,
input,
textarea {
    font-size: 100%;
    font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'verdana', '굴림', 'Gulim', 'AppleGothic', 'sans-serif';
    color: #333;
    vertical-align: middle;
}
select {
    height: 38px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: url('../images/select_arrow.png') no-repeat 90% 50%;
    background-size: 20px 20px;
    padding: 0 35px 0 10px;
    appearance: none;
    font-weight: 400;
    color: #181818;
    vertical-align: middle;
    outline: none;
}
select:focus {
    border-color: var(--color);
}
label {
    cursor: pointer;
}


img {
    border: 0;
    margin: 0;
    padding: 0;
}

audio {
    display: none;
}

a, button, input {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition:all .2s ease-in-out
}
a,
a:link,
a:active,
a:visited {
    font-size: 14px;
    font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'verdana', '굴림', 'Gulim', 'AppleGothic', 'sans-serif';
    text-decoration: none;
    letter-spacing: -1px;
}
a:hover {
    text-decoration: none !important;
    color: var(--color);
}
*:focus {
    outline: none !important;
}



table {
    border-spacing: 0;
    border-collapse: collapse;
}
th,td {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
table th img,
table td img {
    vertical-align: middle;
}


h1, h2, h3, h4, h5 {
    font-weight: 600;
}
legend {
    display: none;
}


@media screen and (-webkit-min-device-pixel-ratio:0){ 
    div, a, img, li {
        image-rendering: -webkit-optimize-contrast;
    }
}
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (display:flow-root) {
        div, a, img, li {
            image-rendering: auto !important;
        }
    }
}




/*************************/
/* float bugFix
/*************************/
.clear {
	zoom: 1;
}
.clear:after {
	content: "";
	display: block;
	clear: both;
}




/*************************/
/* Etc
/*************************/
.displaynone {
	display: none;
}





/*************************/
/* ajax_loader
/*************************/
#ajax-loader {
    position: fixed;
    z-index: 1100;
}
#ajax-loader .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1100;
    
}
#ajax-loader .stripes {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 40px;
    margin: -30px 0 0 -40px;
    text-align: center;
    font-size: 10px;
    z-index: 1101;
}
#ajax-loader .stripes > div {
    background-color: var(--color);
    height: 100%;
    width: 6px;
    display: inline-block;
    margin: 0 3px;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
#ajax-loader .stripes .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
#ajax-loader .stripes .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
#ajax-loader .stripes .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
#ajax-loader .stripes .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.5);
    }

    20% {
        -webkit-transform: scaleY(1.5);
    }
}
@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.5);
        -webkit-transform: scaleY(0.5);
    }

    20% {
        transform: scaleY(1.5);
        -webkit-transform: scaleY(1.5);
    }
}






/*************************/
/* Layout
/*************************/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}





/*************************/
/* Header
/*************************/
.header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background: #fefefe;
    box-sizing: border-box;
    margin: 0 auto;
    z-index: 20;
    border-bottom: 1px solid #e9e9e9;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
.header .h-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 0 var(--xpadding);
}
.header .h-wrap .h-logo {
    border: 0;
}
.header  .h-wrap .h-logo img {
    height: 70px;
}


.header .h-wrap .h-location {
    position: absolute;
    left: 50%;
    margin-left: -195px;
    text-align: center;
}
.header .h-wrap .h-location button {
    padding: 10px;
    background-color: transparent;
    font-family: 'NotoSerifKR';
    font-size: 17px;
    font-weight: 500;
    color:  #444;
    letter-spacing: -1px;
}
.header .h-wrap .h-location button:hover {
    color: #D3D3D3; 
}
.header .h-wrap .h-location button:last-child {
    margin-left: 10px;
}
.header .h-wrap .h-location button i {
    margin: 7px;
}


.header .h-wrap .h-gnb {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.header .h-wrap .h-nav {
    min-width: 300px;
    padding: 0;
    padding-right: 10px;
    align-items: center;
    border-right: 0.5px solid var(--color);
}
.header .h-wrap .h-nav .h-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .h-wrap .h-nav ul li a {
    align-items: center;
    padding: 20px 30px;
    color: var(--color);
    font-family: 'NotoSerifKR';
    font-size: 17px;
    font-weight: 500;
}
.header .h-wrap .h-nav ul li a:hover {
    color: #ffb9b1;
}
.header .h-wrap .h-nav ul li a.now:after {
    content: "";
    position: absolute;
    display: block;
    width: 64px;
    height: 2px;
    margin: 3px 0 0 30px;
    background: var(--color);
}

.header .h-wrap .menu-etc {
    margin: 25px 0 25px 25px;
    display: flex;
    align-items: center;
}
.header .h-wrap .menu-etc a {
    display: block;
    font-family: 'Abril Fatface', cursive;
    font-size: 18px;
    color: var(--color);
    letter-spacing: 1px;
    background-color: transparent;
    opacity: 0.7;
}
.header .h-wrap .menu-etc a:hover {
    color: #800000;
    transition: 0.5s;
    opacity: 100;
}
.header .h-wrap .menu-etc a:last-child {
    margin-left: 20px;
}


.header .h-wrap .menu-etc .mypage-menu {
    position: absolute;
    top: 75px;
    margin-left: -30px;
    width: 125px;
    background: #fff;
    padding: 7px 15px;
    border: 1px solid #e6e6e6;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}
.header .h-wrap .menu-etc .mypage-menu.open {
    top: 65px;
    visibility: visible;
    opacity: 1;
}
.header .h-wrap .menu-etc .mypage-menu:after {
    content: "";
    position: absolute;
    top: -10px;
    right: calc(50% - 8px);
    width: 16px;
    height: 10px;
    background: url('../images/menu_arrow.png') no-repeat 50%;
    background-size: cover;
}
.header .h-wrap .menu-etc .mypage-menu li {}
.header .h-wrap .menu-etc .mypage-menu li a {
    font-size: 14px;
    font-family: 'Noto Sans KR'; 
    color: #999;
    letter-spacing: -0.5px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
    opacity: 1;
}
.header .h-wrap .menu-etc .mypage-menu li a:hover {
    color: var(--color);
}



@media (min-width: 1025px) and (max-width: 1680px) {
    .header .h-wrap {
        padding: 0 var(--xpadding2);
    }
    .header .h-wrap .h-location {
        left: auto;
        right: 40%;
        margin-right: 60px
    }
    .header .h-wrap .h-location button {
        padding: 10px 5px;
    }
    .header .h-wrap .h-nav ul li a {
        padding: 20px;
    }
    .header .h-wrap .h-nav ul li a.now:after {
        margin-left: 20px
    }
}
@media (max-width: 1024px) {
    .header .h-wrap {
        padding: 0 var(--xpadding2);
    }
    .header .h-wrap .h-location {
        display: none;
    }
    .header .h-wrap .h-nav ul li a {
        padding: 20px 10px;
    }
    .header .h-wrap .h-nav ul li a.now:after {
        margin-left: 9px
    }
}






/*************************/
/* Footer
/*************************/
.footer {
    position: relative;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    padding: 40px 0;
    margin-top: 100px;
    border-top: 1px solid var(--color);
}
.footer .f-wrap {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    box-sizing: border-box;
    padding: 0 var(--xpadding);
}

.footer .f-wrap .fw-logo {
    min-width: 170px;
    border-right: 1px solid #ddd;
}
.footer .f-wrap .fw-logo img {
    width: 135px;
}

.footer .f-wrap .fw-cs {
    min-width: 300px;
    padding: 0 35px;
    box-sizing: border-box;
}
.footer .f-wrap .fw-cs h4 {
    font-family: 'NotoSerifKR';
    font-size: 18px;
    font-weight: 500;
    color: var(--color);
}
.footer .f-wrap .fw-cs p {
    margin-top: 3px;
    font-size: 13px;
}
.footer .f-wrap .fw-cs p small {
    font-size: 12px;
    padding-left: 5px;
    color: #777;
}
.footer .f-wrap .fw-cs ul {
    position: relative;
    width: 100%;
    margin-top: 10px;
    font-size: 0;
    line-height: 0;
}
.footer .f-wrap .fw-cs ul li {
   display: inline-block;
   margin-right: 6px;
}
.footer .f-wrap .fw-cs ul li a {
    display: block;
    padding: 4px 5px 5px 5px;
    font-size: 13px;
    color: #444;
    line-height: 13px;
    letter-spacing: 0;
    border: 1px solid #aaa;
    border-radius: 4px;
    background: #fff;
}
.footer .f-wrap .fw-cs ul li a:hover {
    color: var(--color);
    border-color: var(--color);
}
.footer .f-wrap .fw-cs ul li:first-child a {
    color: #fff;
    background: var(--color);
    border-color: var(--color);
}
.footer .f-wrap .fw-cs ul li:first-child a:hover {
    color: #bb3333;
    background: #fce2e2;
}

.footer .f-wrap .fw-info {
    position: relative;
    font-size: 12px;
    line-height: 1.8;
    color: #999;
}
.footer .f-wrap .fw-info .fwi-txt {}
.footer .f-wrap .fw-info .fwi-txt span {
    display: inline-block;
    font-size: 13px;
    padding-right: 17px;
}
.footer .f-wrap .fw-info .fwi-txt span:after {
    position: absolute;
    content: "|";
    font-size: 7px;
    color: #ddd;
    margin: 3px 0 0 9px;
    z-index: 1;
}
.footer .f-wrap .fw-info .fwi-txt span:last-child {
    padding-right: 0;
}
.footer .f-wrap .fw-info .fwi-txt span:last-child:after {
    content: "";
    margin: 0;
}

.footer .f-wrap .fw-info .fwi-copy {
    position: relative;
    width: 100%;
    margin-top: 7px;
    padding-top: 4px;
    border-top: 1px solid #eee;
    font-family: 'Lato';
    font-weight: 400;
    letter-spacing: 0;
}


@media (min-width: 1025px) and (max-width: 1680px) {
    .footer .f-wrap {
        padding: 0 var(--xpadding2);
    }
}
@media (max-width: 1024px) {
    .footer .f-wrap {
        padding: 0 var(--xpadding2);
    }
}



.goto-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    padding: 0 20px;
    font-size: 30px;
    color: #aaa;
    z-index: 99;
}
.goto-top:hover {
    color: var(--color);
}






/*************************/
/* Container
/*************************/
#container {
    padding-top: 80px;
    min-height: 500px;
}
.container {
    max-width: 1330px;
    padding: 0;
}
.container-full {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.container-wide {
    position: relative;
    margin: 0 auto;
    max-width: 1800px;
}

@media(max-width:1840px) {
    .container-wide {
        width: 100%;
    } 
}







/*************************/
/* .page-paging
/*************************/
.page-paging {
    position: relative;
    max-width: 1330px;
    padding: 0;
    margin: 70px auto;
    text-align: center;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    font-family: 'Lato';
}
.page-paging:before {
    content: "";
    display: block;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    height: 1px;
    background: #ddd;
}
.page-paging ol {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    padding: 0;
}
.page-paging span,
.page-paging ol li {
    display: inline-block;
    margin-left: -1px;
    line-height: 36px;
    letter-spacing: -1px;
    color: #000;
    vertical-align: top;
}

.page-paging span {
    width: 38px;
    font-size: 20px;
    overflow: hidden;
}
.page-paging span.nolink {
    display: none;
}
.page-paging span:first-child {
    margin-left: 0;
}
.page-paging span:last-child {
    margin-left: 0;
}

.page-paging a {
    display: block;
    width: 38px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: -1px;
    color: #000;
    opacity: 0.6;
}
.page-paging span a {
    width: 38px;
    height: 36px;
    margin-top: -1px;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: -1px;
}
.page-paging a:hover {
    opacity: 1;
    text-decoration: none;
}

.page-paging li.now {
    width: 38px;
    height: 38px;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    opacity: 1;
    font-weight: 600;
}







/*************************/
/* .page-title
/*************************/
.page-title {
    width: 100%;
    height: 200px;
    padding-top: 70px;
    text-align: center;
    text-transform: uppercase;
}
.page-title h2 {
    font-family: 'Lato';
    font-size: 19px;
    font-weight: 700;
    color: #000;
    letter-spacing: 14px;
    text-indent: 14px;
}
.page-title h4 {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #000;
    margin: 7px 0 0;
}





/*************************/
/* search-modal
/*************************/
.search-modal {
    line-height: 1;
}
.search-modal .modal-content {
    padding: 20px;
}
.search-modal .modal-header .modal-title {
    font-size: 36px;
    font-weight: 600;
    color: #333;
    padding: 0 0 10px;
}
.search-modal .modal-header .close {
    font-size: 38px;
    margin-top: -10px;
}
.search-modal .modal-header .close:hover {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
.search-modal .modal-body {
    text-align: center;
}
.search-modal .modal-body #hidden-btn {
    display: block;
    width: 100%;
    height: 283px;
    border: 0;
    font-size: 0;
    line-height: 0;
    background: #fff;
}
.search-modal .modal-body button[type='submit'] {
    background: #000;
    font-size: 14px;
    color: #fff;
    line-height: 64px;
    border-radius: 100px;
    font-family: 'Lato';
    font-weight: 500;
    letter-spacing: 2.5px;
    text-align: center;
    padding: 0 40px;
    margin: 40px auto 10px auto;
}
.search-modal .modal-body button[type='submit']:hover {
    background: var(--color);
}


#FindLoc {}
#FindLoc .modal-body input[type='text'] {
    width: 580px;
    height: 64px;
    line-height: 64px;
    font-size: 18px;
    color: #000;
    border-radius: 100px;
    border: 0;
    margin: 35px auto 0;
    padding: 0 20px 0 50px;
    background: #f5f5f5;
    overflow: hidden;
}
#FindLoc .modal-body ul {
    width: 400px;
    margin: 30px auto 0 auto;
    padding: 0;
    text-align: center;
}
#FindLoc .modal-body ul > li {
    display: inline-block;
    margin: 7px 0;
}
#FindLoc .modal-body ul > li > a {
    display: block;
    font-size: 16px;
    color: #333;
    line-height: 40px;
    padding: 0 23px;
}
#FindLoc .modal-body ul > li > a:hover {
    color: var(--color);
}




.daterangepicker {
    padding: 20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.daterangepicker .drp-calendar {
    max-width: 300px;
}
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
    font-family: 'Lato';
    min-width: 40px;
    width: 40px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}
.daterangepicker td.in-range {
    background-color: #357ebd;
    color: #fff;
    border-color: transparent;
}
.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
    background-color: #357ebd;
    color: #fff;
    font-weight: 600;
}


.daterangepicker.modify {
    position: fixed !important;
    display: block !important;
    top: 50% !important;
    margin-top: -140px !important;
    left: 50% !important;
    margin-left: -330px !important;
    box-shadow: none !important;
    padding: 0 !important;
    border: none !important;
}
.daterangepicker.modify:before {
    top: auto !important;
    border: none !important;
}
.daterangepicker.modify .drp-calendar.right {
    margin-left: 40px !important;
}



